body{
    background-color: rgb(255, 218, 185);
}    
 h2{
     color: brown;
     text-decoration: underline;
}
button{
    background-color: brown;
    color: white;
    font-size: 120%;
}

